Input:focus {
    border-bottom: 1px rgb(211, 50, 163) !important;
    box-shadow: 0 1px 0 0 #ce93d8 !important;
}
Input{
    border-bottom: 1px solid rgb(90, 81, 30) !important;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;

}
.uni-header{
    z-index:2;
    height: 8vh;
    width: 100vw;
    background-color: #001;
    color: white;

}
.ProfileIcon:active {
    transform: scale(.75)
}


.AddBookIcon:active {
    transform: scale(.75)
}

.SearchIcon:active {
    transform: scale(.75);
}

#AddBookTitle {
    position: absolute;
    left: 20%;
    font-size: .9rem;
    color: white;
    top: 46.5%;
    width: 59%;


}
#ProfileTitle {
    position: absolute;
    left: 26.5%;
    font-size: .9rem;
    color: white;
    top: 41.5%;



}

#SearchTitle {
    left: 32%;
    font-size: .9rem;
    color: white;
    top: 39.5%;
    position: absolute;

}
.birdLogo{
    width: 25%;
    height: 91px;
    position: relative;
    bottom: 35%;
}
.birdLogoText{
    width: 75%;
    position: relative;
    bottom: 61%;
    height: 123%;
    left: -11%;
}
.sfSymbol{
    width: 16%;
    bottom: 211%;
    position: relative;
    left: 81%;
    height: 48px;
    display: none;
}
.universityLogo{
    width: 78%;

}
.uni-footer {
    position: fixed;
    bottom: 0vh;
    height: 8vh;
    width: 100%;
    background-color: #001;
    color: white;
    z-index:2
}

.SearchIcon {
    display: inline-block;
    position: relative;
    height: 100%;
    left: 10%;
    width: 14.33%;
}
.AddBookIcon {
    display: inline-block;
    position: relative;
    left: 23%;
    height: 85%;
    width: 27%;
    top: 13%;

}
.ProfileIcon {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 18.33%;
    left: 28%;
}
.BookPicture {
    position: relative;
    display: inline-block;
    height: 55px;
    width: 57px;
    padding: 15%;
    left: 19%;
    bottom: 23.5%;
    transition: transform 650ms ease-in-out;
    -webkit-filter: invert(100%);
}
.ProfilePicture {
    position: relative;
    display: inline-block;
    height: 48px;
    width: 45px;
    padding: 15%;
    left: 21%;
    bottom: 9%;
    transition: transform 650ms ease-in-out;
    -webkit-filter: invert(100%);
}
.SearchPicture {
    position: relative;
    display: inline-block;
    height: 46px;
    width: 45px;
    padding: 15%;
    left: 24%;
    bottom: 11%;
    transition: transform 650ms ease-in-out;
    -webkit-filter: invert(100%);
}

