 /* .teamPage {
    width: 100%;
    height: 90%;
}

.teamHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12vmin;
    height: 15%;
}

.teamMembers {
    height: 85%;
}

.personCard {
    position: relative;
    border-radius: 2px;
}

.personCardImg {
    position: relative;
    border-radius: 50%;
    text-align: center;
}
.cardContent {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

.nameSection {
    font-size: 5vmin;
    font-weight: 800;
}

.titleSection {
    font-size: 4.5vmin;
    font-style: italic;
}

.socials {
    display: flex;
    justify-content: space-evenly;

} */
 

body {
    width: auto;
}
/* #root {
    height: 100%;
    width: 100%
;} */

.bookBirdTeamMembersPage {
    width: 100%;
    height: 90%;
    overflow:scroll;
    overflow-x:hidden;
}

.teamPageTitle{
    height: 15%;
    font-size: 12vmin;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: lighter;
    color: #fbc02d;
}

.personImg {
    max-height: 500px;
    max-width: 410px;
}

.justenPic{
    
}


.teamMembers {
    height: 85%; 
}

.individualRow {
    display: flex; 
    height: 35%; 
}

.photoIcon {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoIcon > img {
    width: 100%; 
}

.descriptionContainer {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.socialsContainer {
    display: flex;
    justify-content: space-evenly; 
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolioText{
    color:blue !important;
}

.socialIcon {
    width: 18%;
    margin: 5px;
}

.icon {
    top: 20%;
    width: 90%;
}

.teamMemberName{
    font-weight: 800;
    font-size:22px;
}

.memberTitle {
    font-style: italic;
    font-size: 18px;
}

.photoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin:7px;
}



















