.BookInfo {
    left: 40%;
    width: 60%;
    height: 44%;
    position: relative;
    font-size: 6px;
    opacity: 1;
    top: 2%;
}
.BookInfo > h2{
    font-size: 1.56rem;

}

h2:nth-child(1)  {

    height: 13%;
}
h2:nth-child(2)  {
    height: 11%;

}
.priceTitle{
    font-size: 3.2rem;
}

.Container {
    height: 84vh;
    width: 100vw;
    background-color: lightblue;

}

.main-container{
    height: 76vh;
    width: 100vw;
}
.SellerTitle {
    position: absolute;
    display: inline-block;
    font-size: 21px;
    top: 56%;
    margin-left: 3vw;
}
.SellersEmail {
    display: inline-block;
    position: absolute;
    left: 3%;
    font-size: 21px;
    bottom: 48%;
    width: 100vw;
}
.userEmail{
    display: inline-block;
    position: absolute;
    left: 10%;
    font-size: 21px;
    bottom: 43%;
    width: 100vw;
}
.BookPrice {
    position: relative;
    display: inline-block;
    opacity: 1;
    font-size: 1.56rem;
    top: 10%;
}

.price {
    position: relative;
    margin: 0;
}

.SellersComments {
    position: relative;
    display: inline-block;
    font-size: 12px;
    top: 62%;
    height: 18%;
}

.image {
    margin: 6px auto;
    min-height: 27vh;
    position: relative;
    width: 29vw;
    bottom: 409px;
    right: -6px;
}

.TitleTag {
    margin: 0;
}

/* NEW PAGE CSS */

#cardContainer{
    margin-top: 0;
    height: 62vh;
}

#imageContainer {
    height: 40%;
    width: 100%;
    background-color: rgb(197, 197, 197);

}

.imageContainer > img {
    height: 100%;
    width: 100%;
}

#book-item img {
    position: relative;
    left: 15%;
    top: 5%;
    height: 90%;
    width: 70%;
}
.book-content {
    height: 68%;
}

.bookInfoLeftContent {
    border: 1px solid black;
    display: inline-block;
    height: 50%;
    width: 70%;
}

.bookInfoLeftContent > h5 {
    margin: 0;
}

.bookInfoRightContent {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    height: 50%;
    width: 30%;
}

.bookCondition {
    position: relative;
    height: 40%;
    border: 1px solid black;
}

.bookCondition h6 {
    position: relative;
    left: 10%;
    height: 40%;
    border: 1px solid black;
}
.bookPrice {
    height: 60%;
    border: 1px solid black;
}

.bookPrice h5 {
    position: relative;
    left: 25%;
    height: 40%;
    border: 1px solid black;

}
.bookTitle {
    color: rgb(22, 22, 22);
}

.bookAuthor, .bookISBN {
    color: rgb(179, 179, 179);
}

.sellersContent {
    border: 1px solid black;
    height: 50%;
    
}

.card-action a {
    position: relative;
    left: 33%;
}

#contactAction {
    color:blue;
}
@media screen and (min-width: 1000px) {

    .BookInfo {
        left: 40%;
        width: 60%;
        height: 44%;
        position: relative;
        font-size: 12px;
        opacity: 1;
        top: 2%;
    }
    .BookInfo > h2{
        margin: 2%;
    }

    h2:nth-child(1)  {

        height: 23%
    }
    h2:nth-child(2)  {
        height: 23%;

    }
    .Container {
        width: 60vw;
        margin-left: 20vw;

        background-color: lightblue;

    }

    .main-container{
        height: 76vh;
        width: 100vw;
    }
    .SellerTitle {
        position: absolute;
        display: inline-block;
        font-size: 19px;
        top: 56%;
        margin-left: 3vw;
    }
    .SellersEmail {
        display: inline-block;
        position: absolute;
        left: 3%;
        font-size: 21px;
        bottom: 48%;
        width: 100vw;
    }
    .userEmail{
        display: inline-block;
        position: absolute;
        left: 10%;
        font-size: 21px;
        bottom: 43%;
        width: 100vw;
    }
    .BookPrice {
        position: absolute;
        width: 32%;
        left: 62%;
        bottom: 30%;
        opacity: 1;

    }
    .price {
        color: green;
        font-size: 51px;
        position: absolute;
        top: 39%;
    }

    .SellersComments {
        position: absolute;
        font-size: 12px;
        background-color: beige;
        width: 50%;
        top: 62%;
        height: 18%;
        margin-left: 3vw;
    }

    .image {
        margin: 6px auto;
        min-height: 27vh;
        position: relative;
        width: 29vw;
        bottom: 409px;
        right: -6px;
    }
    .TitleTag {
        margin: 0;
    }

}

