
.header{
    height: 12vh;
    width: 100vw;
    background-color: #5bc0de;
    color: white;
}

.nav {
    position: absolute;
    /*top: 13.3vh;*/
    bottom: 0vh;
    height: 12vh;
    width: 100%;
    background-color: black;
    color: white;
}

