.signUpHeader, .signInHeader{
    text-align: center;
    display: grid;
    position: relative;
    bottom: 5%;
    font-size: 3.3rem;
}

/* .signup_footer{
    justify-content: center;
    align-items: center;
    left: 19%;
    bottom:10%;
    position: relative;
} */
.signin_footer, .signup_footer {
    position: relative;
    /* justify-content: center;
    align-items: center; */
    left: 19%;
}
.signin-logo-container{
    position:relative;
    height:200px;
    overflow:hidden;
}
.signin-logo-container>img{
    position:relative;
    height:381px;
    bottom:61px;
}
.signup-logo-container{
    position: relative;
    height: 161px;
}
.signup-logo-container>img{
    position:relative;
    height:381px;
    bottom:81px;
}
.row {
    margin-bottom: 0;
}

#Name {
    margin-bottom: 0rem;
}

#EmailSignUp {
    margin-bottom: 0rem;
}
#PasswordSignUp {
    margin-bottom: 0rem;
}
#UserNumber {
    margin-bottom: 0rem;
}

.error-message {
    /* position: relative; */
    bottom: 14px;
    margin-left: 33%;
    font-size: 0.71rem;
}
.sign-in-error {
    position: relative;
    bottom: 14px;
    margin-left: 33%;
    font-size: 0.71rem;
}


#sign-in-container{
    position: relative;
    bottom: 5%;
    margin-top:41px;
}
#sign-up-form {
    position: relative;
    bottom: 5%;
    margin-top:41px;
}
/* .sign-up-form {
    position: relative;
    bottom: 10%;
} */

.signInError, .signUpError{
    color: red;
}

.signin_container {
    /* background-color: #C2E5F9; */
    height: 90vh;
    overflow: auto;
}
.signup_container{
    height: 90vh;
    overflow: auto;
}

.sign_in_form, .sign_up_form {
    margin: auto !important;
}

.signInInput, .signUpInput {
    /* width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px; */
    left: 24%;
    position: relative;
    
}
.signInInput:focus {
    border-bottom: 1px rgb(211, 50, 163) !important;
    box-shadow: 0 1px 0 0 #ce93d8 !important;
  }
.signInInput{
    border-bottom: 1px solid rgb(90, 81, 30) !important;
}
#sign-in-container>.row, #sign-up-form>.row{
    width: 339px !important;
    /* width: 90vw !important; */
    margin-left: 1vw !important;
}
.signin_container{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      #180218ee, 
      #240024da
    ),
    /* bottom, image */
    url(../images/chavezcenter.jpg);
    background-size: 271%;
    background-repeat: no-repeat;
    background-position: -352px -38px;
}
.signup_container{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      #180218ee, 
      #240024da
    ),
    /* bottom, image */
    url(../images/chavezcenter.jpg);
    background-size: 271%;
    background-repeat: no-repeat;
    background-position: -352px -38px;
}
.signin_container>p{
    width: 300px !important;
    margin-right: 0px !important;
}
.signup_container>p{
    width: 300px !important;
    margin: 0px !important;
}
.signInError, .signUpError{
    display: flex;
    left: 23%;
    position: relative;
    justify-content: center;

}
.signInLabel, .signUpLabel{
    left:23% !important
}
.signin-button, .signup-button{
    margin-left:94px !important;
}
.sign-up-button{
    position: absolute;
    left: 33%;
}

/* .sign_in_form {
    margin-right: 34%;
}

.signin_container, .signup_container{
    background-color: #C2E5F9;
    height: 76vh;
    overflow: auto;
}

.input{
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    left: 24%;
    position: relative;
    color:black;
}

.signup_footer, .signin_footer{
    position:relative;
    text-align: center;
    top: 89%;
}

label{
  text-align: center;
    display: block;
    position: relative;
}
    


.sign_in_button, .sign_up_button{}
     position: relative;
    left:41%;
    background-color:green;
    width:23vw;
    height:9vh;
    border-radius:31px;
    margin-left: 8%; */
 



/* .error{
    color:red;
    text-align: center;
}  */