.signUpHeader, .signInHeader{
    text-align: center;
    display: grid;
    position: relative;
    bottom: 5%;
    font-size: 3.3rem;
}

.signup_footer{
    /* justify-content: center;
    align-items: center; */
    left: 19%;
    bottom:10%;
    position: relative;
}
.signin_footer {
    position: relative;
    /* justify-content: center;
    align-items: center; */
    left: 19%;

}

.row {
    margin-bottom: 0;
}

#Name {
    margin-bottom: 0rem;
}

#EmailSignUp {
    margin-bottom: 0rem;
}
#PasswordSignUp {
    margin-bottom: 0rem;
}
#UserNumber {
    margin-bottom: 0rem;
}

.error-message {
    position: relative;
    bottom: 14px;
    margin-left: 33%;
    font-size: 0.71rem;
}
.sign-in-error {
    position: relative;
    bottom: 14px;
    margin-left: 33%;
    font-size: 0.71rem;
}


#sign-in-container {
    position: relative;
    bottom: 5%;
}
.sign-up-form {
    position: relative;
    bottom: 10%;
}

.signInError, .signUpError{
    color: red;
}

.signin_container, .signup_container{
    background-color: #C2E5F9;
    height: 100vh;
    overflow: auto;
}

.sign_in_form, .sign_up_form {
    margin-right: 34%;
}

.signInInput, .signUpInput {
    /* width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px; */
    left: 24%;
    position: relative;
}

.signInError, .signUpError{
    display: flex;
    left: 23%;
    position: relative;
    justify-content: center;

}
.signInEmailLabel, .signInPasswordLabel{
    left:24%
}

.signInLabel, .signUpLabel{
    left:23% !important
}.sign_in_form {
     position: relative;
     bottom: 9%;
 }

.sign-in-button{
    left: 33%;
    position: absolute;
    bottom: 27%;
}
.sign-up-button{
    position: absolute;
    left: 33%;
}

/* .sign_in_form {
    margin-right: 34%;
}

.signin_container, .signup_container{
    background-color: #C2E5F9;
    height: 76vh;
    overflow: auto;
}

.input{
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    left: 24%;
    position: relative;
    color:black;
}

.signup_footer, .signin_footer{
    position:relative;
    text-align: center;
    top: 89%;
}

label{
  text-align: center;
    display: block;
    position: relative;
}
    


.sign_in_button, .sign_up_button{}
     position: relative;
    left:41%;
    background-color:green;
    width:23vw;
    height:9vh;
    border-radius:31px;
    margin-left: 8%; */
 



/* .error{
    color:red;
    text-align: center;
}  */