*{
    box-sizing:border-box;
}
.search-results-container{
    height: 84vh;
    overflow:auto;
    background-color: #C2E5F9;

}
.listItemContainer{
    height:17.25vh;
    /* border:solid black; */
}
.listItem{
    border:1px solid rgb(43, 43, 43);
    box-shadow: 2px 2px darkgray;
    height: 96%;
    width:96%;
    margin: auto;
    background-color: white;
}
.listItem:active{
    box-shadow:none;
}
.itemImageContainer{
    vertical-align: top;
    display:inline-block;
    height:100%;
    width:25%;
}
.itemImage{
    background-color: blueviolet;
    margin:5%;
    height:90%;
    width:90%;
}
.itemDetails{
    padding:3% 1% 1% 1%;
    display:inline-block;
    height:100%;
    width:50%;
}
.itemDetails>p:first-of-type{
    height:40px;
    overflow:hidden;
    margin:1%;
}
.itemDetails>p{
    margin:1%;
    overflow:hidden;
    height: 20px;
}
.itemPrice{
    vertical-align: top;
    display:inline-block;
    height:100%;
    width:25%;
    position: relative;
    right: 2%;
}
.itemPrice>h3{
    margin:4%;
    font-size: 2.3rem;
}
.itemPrice>h1 {
    margin: 8% 0;
    font-size: 2.7rem;
}
.search-text{
    vertical-align: top;
    height: 6.5vh;
    width: 84vw;
    /* position: relative; */
    font-size:23px;
    margin:0;
}
.search-bar-icon{
    height:100%;
    width: 100%;
} 
.searchInputButton{
     width:16%;
     height: 100%;
}
.searchForm{
    height: 6.5vh;
    width: 100%;
}  


