.modalIsbn {
    display: block;
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 50%;
    margin-left: 9%;
    margin-top: 30%;
    background-color: grey;
}
.searchButtonContainer{
    padding-left: 35%;
    margin-top: 0%;
    position: relative;
    right: 15%;
}
.form-isbn {
    margin-top: 33%;
    position: relative;
    height: 100%

}
.modal-content {
    eight: 100%;
    width: 100%;
}


:root {
    --moveRight: 91%;
    --moveup: 4.5vh;
    --marktop: 7.8vh;
    --markbase: 4.2vh;
}

.tempContainer {
    height: 100%;
    width: 100%;
}

.container {
    position: absolute;
    height: 76vh;
    width: 100vw;
    background-color: #C2E5F9;
}

.header {
    height: 12vh;
    width: 100vw;
    background-color: #5bc0de;
    color: white;
}

.inputs {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 5vh;
    margin: auto;
    font-size: 1rem;
    left: 10.5%;
    top: 4vh;
}

.textSpan {
    position: relative;
    top: 13%;
}

.last {
    position: relative;
    top: 4.1vh;
    height: 10vh;
    font-size: 1.3rem;
}

.text {
    width: 50%;
    margin: auto;
    text-align: center;
}

.dragDrop {
    position: relative;
    display: block;
    border: black 1px solid;
    height: 13vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    top: 4vh;
}

.POST {
    position: relative;
    height: 6.7vh;
    width: 50%;
    margin-left: 24.5%;
    margin-top: 1.2%;
    border-radius: 40px;
    background-color: white;
    border: none;
    top: 12vh;
    font-size: 1.5em;
}

.condition {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 5vh;
    margin: auto;
    font-size: 1rem;
    left: 10.5%;
    top: 4vh;
}

select {
    background-color: white;
    border-radius: 0;
}

select option {
    background-color: white;
    border-radius: 0;
}

.error {
    position: relative;
    top: 4vh;
    height: 2.6vh;
    color: red;
    text-align: center;
}

.checkMark {
    position: absolute;
    height: 3vh;
    width: 3vh;
    left: var(--moveRight);
    color: green;
    visibility: hidden;
}

.markISBN {
    top: var(--markbase)

}

.markCondition {
    top: calc(var(--markbase) + var(--marktop) * 1);
}

.markTitle {
    top: calc(var(--markbase) + var(--marktop) * 2);
}

.markAuthor {
    top: calc(var(--markbase) + var(--marktop) * 3);
}

.markEdition {
    top: calc(var(--markbase) + var(--marktop) * 4);
}

.markPrice {
    top: calc(var(--markbase) + var(--marktop) * 5);
}


.visible {
    visibility: visible;
}

.photo {
    display: inline-block;
    position: absolute;
    /*top: 12vh;*/
    /*left: -37.7%;*/
    left: 49.5%;
    top: 84%;
    transform: translate(-50%, -50%);
    font-size: 50px !important;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100vw;
    }

    .inputs {
        width: 80%;
        left: 10%;
    }


}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .inputs {
        width: 50%;
        left: 8%;
    }

    .condition {
        width: 50%;
        left: 8%;
    }

    .container {
        width: 60vw;
        margin-left: 20vw;
    }
}

@media screen and (min-width: 600px) {
    .container {
        width: 60vw;
        margin-left: 20vw;
    }

    .inputs {
        height: 5vh;
        width: 40vw;
        margin-left: 7vw;
    }

    .condition {
        width: 40vw;
        margin-left: 7vw;
    }

    .last {
        height: 10vh;
        top: 5vh;
        resize: none;
    }

    .last::placeholder {
        font-size: 1.5em;
    }

    .POST {
        top: 12vh;
        left: 5.2vw;
        height: 5vh;
        width: 20vw;
    }
}
