:root {
    --moveRight: 92.2%;
    --moveup: 4.5vh;
}

.tempContainer {
    height: 100%;
    width: 100%;
}

.container {
    position: absolute;
    height: 76vh;
    background-color: #C2E5F9;
}

.header {
    height: 12vh;
    width: 100vw;
    background-color: #5bc0de;
    color: white;
}

.inputs {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 5vh;
    margin: auto;
    margin-bottom: 0.3%;
    font-size: 1rem;
    left: 6.5%;
}

/*.fieldsText {*/
    /*background-color: #F2C94C;*/
    /*display: block;*/
    /*width: 80%;*/
    /*height: 4vh;*/
    /*margin: auto;*/
    /*font-size: 1rem;*/
    /*text-align: center;*/
/*}*/

.textSpan {
    position: relative;
    top: 13%;
}

.last {
    height: 10vh;
    font-size: 1rem;
}

.text {
    width: 50%;
    margin: auto;
    text-align: center;
}

.dragDrop {
    display: block;
    border: black 1px solid;
    height: 15vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
}

.POST {
    height: 6.1vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 1.2%;
    border-radius: 40px;
    background-color: white;
    border: none;
}

.nav {
    position: absolute;
    /*top: 13.3vh;*/
    bottom: 0vh;
    height: 12vh;
    width: 100%;
    background-color: black;
    color: white;
}

.condition {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 5vh;
    margin: auto;
    margin-bottom: 0.3%;
    font-size: 1rem;
    left: 6.5%;
}

select {
    background-color: white;
    border-radius: 0;
}

select option {
    background-color: white;
    border-radius: 0;
}

.error {
    color: red;
    text-align: center;
}

.checkMark {
    position: relative;
    height: 3vh;
    width: 3vh;
    left: var(--moveRight);
    color: green;
    visibility: hidden;
}

.markPrice {
    top: -6.4vh;
}

.markEdition {
    top: -4.4vh;
}

.markAuthor {
    top: -4.4vh;
}

.markTitle {
    top: -4.5vh;
}

.markISBN {
    top: -4.4vh;
}

.ISBN {
    left: 12%;
}

.TITLE {
    left: 12%;
}

.visible {
    visibility: visible;
}