.modalIsbn {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 120vh;
    left: 0;
    background-color: rgba(0,0,0,0.65);
    top: -19%;
    color: rgb(15, 15, 15);
}

#isbnInput{
    color: rgb(12, 12, 12) !important;
    font-weight: lighter; 
}


.acceptButton{
    margin:2px;
}

.acceptLink{
    color:white;
}
.postAgainButton{
    margin:2px;
}


.isbnSearchErrorMessage{
    /* display:'none'; */
    color: red;
}

#loadingGif{
    z-index: 5;
    visibility: visible;
    position: absolute;
    height: 15%;
    top: 40%;
    width: 28%;
    left: 34%;
}
.isbnIsRequiredText{
    font-weight: lighter;
    text-align: center; 
}
.tooltipped{
    color: rgb(77, 0, 77) !important;
    font-weight: bold;
}
#errorISBN{
    color:red;
    text-align: center;
}
.signInRequiredButtons {
    margin: 10px;
}

.signInRequiredModal{
    display:none;
}
.material-tooltip{
   left: 23% !important;
   width: 55%;
   right: 38%
}
.checkIcon{
    color: #fbc02d;
    text-align: center;
    position: relative;
    left: 35%;      
}

.successModalButtons{
    padding: 1px;
    display: flex;
}
.successModalText{
    justify-content: center;
    display: flex;
    color: rgb(12, 12, 12);
    font-size: 24px;
    margin-top: 2px;
}
.isbnModalBookDescription{
    color: rgb(10, 10, 10);
    font-weight: lighter;
}

.isbnSearchButton{
    left: 18%;
}

.google_book_image{
    margin-top: 9px;
    position: relative;
    left: 25%;
    max-height: 8%;
    max-width: 50%;
    border: 1px solid black;
}
.isbnModalHeader{
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 18px;
    color: rgb(12, 12, 12);
    font-weight: lighter;
}

.signInRequiredText{
    color: rgb(15, 15, 15);
    text-align: center;
}

.addBook-container{
    height: 109vh;
    width: 100%;
    background-image: linear-gradient(rgba(75, 0, 104, 0.877),rgba(43, 0, 43, 0.829)); 
    background: linear-gradient( #180218ee, #240024da );
    background-size: 271%;
    background-repeat: no-repeat;
    background-position: -352px -38px;
}
.isbn-container {
    height: 100%
}
.image-container {
    position: absolute;
    display: inline-block;
    height: 25%;
    top: 12%;
    width: 38%;
    margin-left: 5%;
    margin-top: 1%;
}
.pageContainer {
    height: 100vh;
    width: 100vw;
}
.upload-image-container {
    display:inline-block;
    height: 128px;
    width: 250px;
    left: 85px;
}
.searchButtonContainer {
    padding-left: 35%;
    margin-top: 0%;
    position: relative;
    right: 15%;
}
.input-header{
    font-weight: lighter; 
}
.inputs{
    margin-bottom:0 !important;
}
.enterIsbnLabel{
    font-size: 10px;
    left:2%;
    font-weight: bold;
    color: rgb(85, 0, 85) !important;
}
.search_button_container{
    /* position: relative;
    left: 21%; */
    text-align: center;
}
.form-isbn {
    height: 50%;
}
.modal-body{
    /* left:9% */
    color: rgb(15, 15, 15);
    max-width: 80%;
    margin: auto;

}
.label-placeholder {
    margin-left: 9%;
}
.input-field .prefix ~ label {
    margin-left: 0rem;
}
.input-field.col label {
    left: 2.75rem;
}


/* .input-field > label {
    color: #26a69a !important;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
} */
/* .input-field{
    border-bottom: white !important;

} */
.activated{
    transform: translateY(-14px) scale(0.8) !important;
    transform-origin: 0 0 !important;
}
.label-placeholder {
    left: 8%;
    margin-top: 6%;
    font-size: 1.5rem;
}

.modal-content {
    color: rgb(20, 20, 20);
    width: 72%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    box-shadow: darkgrey 0px 0px 2px;
    background-color: rgb(240, 240, 240);
}

#moneyID {
    left: 30px;
}

.labelPrice {
    left: 60px !important
}

.modal-footer{
    margin-bottom: 11px;
}
.accept_button, .clear_button{
    margin:8px;
}
.row {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 0;

}
#comment-box {
    margin-top:5px;
    height: 46px;
    position: relative;
    color: white;
    font-weight: lighter;
}
.sellers-comments-tag {
    position: relative;
    bottom: 16%;
    font-size: .80rem;
    color:#fbc02d;
    left: 8.5vw;
}
.optional-tag {
    position: relative;
    font-size: 0.9rem;
    top: 5.8vh;
    left: 73vw;
}
#mySelect {
    margin-top: 16px;
    background-color: aliceblue;
}


/* #picIcon {
    position: relative;
    top: 10vh;
    left: 40vw;
    display: inline-block;
    background-color: #fbc02d;
} */

.submit-photo-container {
    position: relative;
    margin-top: 11px;
    margin-left: 28px;
    z-index: 0;
    display: inline-block;
    vertical-align:top;
}

.pageHeader {
    margin: 0;
    font-size: 28px;
    padding-top: 8px;
    font-weight: lighter;
    color: #fbc02d;
    text-align: left;
    /* margin-left: 22px; */
}

.pageDescription {
    margin: 0 0 5px 0;
    font-size: 13px;
    color: white;
    font-weight: lighter;
}

.label-placeholder {
    left: 8%;
    margin-top: 12%;
    font-size: 1.5rem;
}

.tempContainer {
    height: 100%;
    width: 100%;
}
.form-container {
    width: 100%;
    height: 77%;
}
.containerAddBook {
    position: absolute;
    height: 76vh;
    width: 100vw;
    background-color: #C2E5F9;
    overflow: scroll;
}
#add-photo-icon {
    z-index: 0;
}
.add-photo-icon-class{
    background-color: #fbc02d !important;
}
.header {
    height: 12vh;
    width: 100vw;
    background-color: #5bc0de;
    color: white;
}
.textSpan {
    position: relative;
    top: 13%;
}
.text {
    width: 50%;
    margin: auto;
    text-align: center;
}

#price{
    font-weight: lighter; 
    color: white;
    left: 50px;
}

#titleError {
    top: 8vh;
    display: inline-block;
    left: 16vw;
}

#author{
    color:white;
    font-weight: lighter;
}

#title{
    color: white;
    font-weight: lighter 
}

#authErr {
    top: 8vh;
    right: 64vw;
    display: inline-block;
}

#priceErr {
    position: absolute;
    color: red;
    font-size: 11px;
    top: 55px;
    left: 35px;
    display: inline;
    width:115px;
}

#conditionError{
    position: absolute;
    color: red;
    font-size:11px;
    /*top: 320px;*/
    right: -5px;
    width: 115px;
    display: inline;
}
.comment-text-area {
    position: absolute;
    width:98%;
    /* display: inline; */
    bottom: 34%;
    /* width: 98%; */
    margin-left: 0%;
    /* height: 11%; */
}


.dragDrop {
    position: relative;
    display: block;
    border: black 1px solid;
    height: 13vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    top: 4vh;
}
#photoInput{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.multi-photo-container{
    display:flex;
    flex-wrap:wrap;
    height:100px;
    width:86vw;
    justify-content: space-around;
}
.single-photo-container{
    display: inline-flex;
    height: auto;
    width: 88px;
    margin: 9px;
    position: relative;
    align-items: center;
    text-align: center;
}
.single-photo-container>img{
    height:100%;
    width:100%;
    border: 1px solid black;
}
.condition {
    /* position: relative; */
    display: inline-block;
    /* width: 80%;
    height: 5vh;
    margin: auto; */
    font-size: 1rem;
    /* left: 10.5%; */
}


#sellersContainer {
    margin-top: 20px;
}

select {
    background-color: white;
    border-radius: 0;
    position: relative;
    left: 3px;
}

select option {
    background-color: white;
    border-radius: 0;
}

.error {
    position: relative;
    top: 4vh;
    height: 2.6vh;
    color: red;
    text-align: center;
}

.checkMark {
    position: absolute;
    height: 3vh;
    width: 3vh;
    /*left: var(--moveRight);*/
    color: green;
    visibility: hidden;
}
.markPrice {
    top: 53vh;
    left: 60vw;
}
.visible {
    visibility: visible;
}

.photo {
    width: 12%;
    z-index: 1;
    position: relative;
    display: inline-block;
    margin-top: 6%;
    transform: translate(-50%, -50%);
    font-size: 50px !important;

}

.successImage {
    /* display: inline-block; */
    position: relative;
    width: 80%;
    bottom: 8px;
}
.successImage > img {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 20%;
    height: 5%;
    width: 25%;
}


@media screen and (min-width: 600px) {
    .modal-content {
        width: 300px;
    }

    .addBook-container {
        position: relative;
    }

    .modalIsbn {
        height: 125vh;
        left: -50%;
        width: 200%;
    }
}

@media only screen and (min-width: 886px) {
    #conditionError{
        position: absolute;
        color: red;
        font-size:11px;
        top: 310px;
        right: 50px !important;
        width: 115px;
        display: inline;
    }
}

@media only screen and (min-width: 1200px) {
    #conditionError{
        position: absolute;
        color: red;
        font-size:11px;
        top: 310px;
        right: 50px;
        width: 115px;
        display: inline;
    }
}
