.delete-button-container{
    vertical-align: top;
    display:inline-block;
    height:100%;
    width:25%;
}
.circleBase {
    border-radius: 50%;
    /* behavior: url(PIE.htc); */
}
.profile-main-container{
    position:relative;
    display:inline-block;
    height:76vh;
    width:100vw;
    background-color:#C2E5F9;
}
.user-image-container{
    position:relative;
    display:inline-block;
    height:28%;
    width:36%;
    margin-top:6%;
    margin-left:32%;
    background-color:brown;
    overflow:hidden;
}
.user-image-container>img{
    position:relative;
    height:150px;
    width:170px;
    right:18px;
}
.opacitySlip{
    bottom: 50px;
    position: relative;
    display: inline-block;
    height: 38px;
    width: 135px;
}
.opacitySlip>i{
    height:100%;
    width:100%;
    padding-top:5px;
    background-color:rgb(245, 245, 245,0.4);
    color:rgb(104, 101, 106);
}
.logOut{
    position:relative;
    display:inline-block;
    vertical-align: top;
    height:8%;
    width:100px;
    text-align: center;
    top:5px;
    padding:0;
}

.logOut>img{
    height: 24px;
    width: 24px;
    margin-top: 4px;
    margin-left: 3px;
}
.user-posts-container{
    display:inline-block;
    height:57%;
    width: 90%;
    margin-top:10%;
    margin-left:5vw;
    background-color: blue;
    overflow:auto;
}
.samplePost{
    display:inline-block;
    height:17.8%;
    background-color: bisque;
}