.intro-title {
    position: absolute;
    font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: white;
    left: 35%;
    font-weight: lighter;
    font-size: 8vw;
}

.app-video {
    position: absolute;
    justify-content: center;
    position: absolute;
    left: 29%;
    top: 26%;
}

.photoContainer {
    position: relative;
    width: 41%;
}
.video {
    width: 99%;
    position: relative;
    height: 41%;
}
.introPageContainer{
    background-color: #001;
    height: 100vh;
}
.logoImgContainer{
    position: relative;
    top: 8%;
}
.introPageButtonContainer{
    position: relative;
    top: 6%;
    justify-content: center;
    /* display: flex; */
}
.getStartedButton{
    background-color: #98C1D9;
}

.introPageLogoImg{
    width:357px !important;
    height:400px !important;
}


@media only screen and (min-width: 1200px) {
  #introPageButton{
      position: relative;
    justify-content: center;
      top: 78%;
   }
}
@media only screen and (min-width: 992px) {
    #introPageButton{
        position: relative;
        justify-content: center;
        top: 78%;
    }
}
