
.introPageContainer{
    background-color: #001;
    height: 100vh;
}
.logoImgContainer{
    position: relative;
    top: 8%;
}
.introPageButtonContainer{
    position: relative;
    top: 16%;
    justify-content: center;
    display: flex;
}
.getStartedButton{
    background-color: #98C1D9;
}