.BookInfo {
    left: 47%;
    width: 53%;
    position: relative;
    height: 46%;
    top: 1%;
    font-size: 12px;
    opacity: 1;
    display: inline-block;
}
.Container {
    height: 76vh;
    width: 100vw;

}

.main-container{
    height: 76vh;
    width: 100vw;
}
.SellerTitle {
    position: relative;
    top: -5vh;
    font-size: 19px;
}
.SellersEmail {
    position: relative;
    width: 100vw;
    font-size: 20px;
    opacity: 1;
}
.userEmail{
    display: inline-block;
    position: relative;
    left: 17%;
    top: -5vh;
    font-size: 21px;
}
.BookPrice {
    position: relative;
    width: 29%;
    left: 62%;
    bottom: 37%;
    opacity: 1;

}
.price {
    color: green;
    font-size: 45px;
    position: relative;
    bottom: 29px;
    display: block;
}

.SellersComments {
    position: relative;
    font-size: 12px;
    background-color: beige;
    top: -6vh;
    height: 16vh;
    width: 58%;
    display: inline-block;
}

.image {
    min-height: 27vh;
    position: relative;
    width: 38vw;
    display: inline-block;
    right: 36%;
}
.h1tag {
    margin: 0;
}