.BookInfo {
    left: 100px;
    width: 189px;
    position: relative;
    height: 216px;
    top: 60px;
    font-size: 12px;
    opacity: 1;
}
.Container {
    height: 76vh;
    width: 100vw;

    background-color: lightblue;

}

.main-container{
    height: 76vh;
    width: 100vw;
}
.SellerTitle {
    position: relative;
    top: 40px;
    font-size: 19px;
}
.SellersEmail {
    top: 49px;
    position: relative;
    width: 100vw;
    font-size: 20px;
    opacity: 1;
}
.userEmail{
    display: inline-block;
    position: relative;
    left: 13px;
    top: 31px;
    font-size: 21px;
}
.BookPrice {
    position: relative;
    width: 84px;
    left: 197px;
    bottom: 93px;
    opacity: 1;

}
.price {
    color: green;
    font-size: 45px;
    position: relative;
    bottom: 29px;
}

.SellersComments {
    position: relative;
    font-size: 12px;
    background-color: beige;
    width: 157px;
    top: 35px;
    height: 91px;
}

.image {
    margin: 6px auto;
    min-height: 27vh;
    position: relative;
    width: 29vw;
    bottom: 409px;
    right: -6px;
}