.BookInfo {
    width: 53%;
    position: relative;
    height: 46%;
    top: 1%;
    font-size: 12px;
    opacity: 1;
    left: 41%;
    display: inline-block;
    margin: 1%;
}
.bookInfo > h1 {
    margin: 0;
}
.Container {
    height: 76vh;
    width: 100vw;
    background-color: lightblue;

}

.main-container{
    height: 76vh;
    width: 100vw;
}
.SellerTitle {
    position: relative;
    font-size: 19px;
    bottom: 8vh;
    left: 3%;
}
.SellersEmail {
    position: relative;
    width: 100vw;
    font-size: 20px;
    opacity: 1;
    left: 4%;
}
.userEmail{
    display: inline-block;
    position: relative;
    left: 17%;
    font-size: 27px;
    bottom: 5vh;
}
.BookPrice {
    position: relative;
    width: 29%;
    left: 68%;
    bottom: 48%;
    opacity: 1;

}
.price {
    color: green;
    font-size: 52px;
    position: relative;
    bottom: 29px;
    display: block;
}

.SellersComments {
    position: relative;
    font-size: 12px;
    background-color: beige;
    bottom: 11vh;
    height: 16vh;
    width: 58%;
    display: inline-block;
    left: 3%;
}

.image {
    min-height: 23vh;
    position: relative;
    width: 33vw;
    display: inline-block;
    right: 39%;
    bottom: 1vh;
}
.h1tag {
    margin: 0;
}